// tạo file .env để lưu trữ các biến môi trường cho cơ sở dữ liệu PostgreSQL. Dưới đây là một ví dụ về nội dung của file .env,
rồi dùng lệnh docker compose up -d,, Docker sẽ đọc các biến từ .env và khởi tạo container PostgreSQL với thông số đã đặt.:
POSTGRES_USER=....
POSTGRES_PASSWORD= .....
POSTGRES_DB=..._db
POSTGRES_PORT= ...
VNPAY_TMN_CODE=your_sandbox_tmn_code
VNPAY_HASH_SECRET=your_sandbox_hash_secret
VNPAY_RETURN_URL=http://localhost:3000/checkout/vnpay-return
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_API_URL=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
CANCELLATION_CUTOFF_MINUTES=120

// Mail
FROM_EMAIL = ""
PASSWORD = "" 
