// tạo file .env để lưu trữ các biến môi trường cho cơ sở dữ liệu PostgreSQL. Dưới đây là một ví dụ về nội dung của file .env,
rồi dùng lệnh docker compose up -d,, Docker sẽ đọc các biến từ .env và khởi tạo container PostgreSQL với thông số đã đặt.:
POSTGRES_USER=....
POSTGRES_PASSWORD= .....
POSTGRES_DB=..._db
POSTGRES_PORT= ...