
# Nuxt build artifacts
.nuxt
.output
frontend/.nuxt
frontend/.output
/frontend/.nuxt/
/frontend/.output/

# Node dependencies
node_modules
/node_modules/

# Environment variables
.env
frontend/.env
backend/.env
/.env
/backend/.env
/frontend/.env

# Python
__pycache__
*.pyc
/.venv/
/backend/.venv/

# VS Code
.vscode

__pycache__/
*.pyc
conflict_list.txt
